spring:
  application:
    name: chatbot-empresarial
  
  datasource:
    url: jdbc:postgresql://localhost:5432/chatbot_db
    username: chatbot_user
    password: chatbot_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  
  ai:
    openai:
      api-key: ${GROQ_API_KEY}
      base-url: https://api.groq.com/openai/v1
      chat:
        options:
          model: llama-3.3-70b-versatile
          temperature: 0.7
          max-tokens: 1000

server:
  port: 8090
  error:
    include-message: always

logging:
  level:
    com.techcorp.chatbot: INFO
    org.springframework.ai: DEBUG
